

*{
    margin: 0;
    
}
#bres{
    margin-top: 40px;
    color:red;
    text-align: center;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border :2px solid green;
    width:50%;
    min-height: 200px;
    margin: auto;
    padding: 15px;
    border-radius: 14px;
    margin-top: 20px;
    background-color: green;
}
.card-text{
    color:white
}
#items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Adjust 300px to your preferred item width */
    gap: 20px;
}
#form{
    margin-bottom: 69px;
    border: 2px solid green;
    padding:10px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}
#form input{
    border: 0;
    caret-color: green;
}

#inputName{
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    width:auto;
    background-color: transparent;
    font-size: 20px;
    color:rgb(9, 83, 9);
    font-weight: bold;
    width:75%;
}
#inputName::placeholder{
    caret-color: green;
    color:green;
    background: transparent;
   
}
#button{
    color:white;
    background-color: rgb(12, 80, 12);
    padding:10px 20px;
    border-radius: 20px;
    border: 0;
    transform: ease-in 1s;
    font-size: large;
    width:25%;
}
#button:hover{
    transition: ease-out 1s;
    background-color: rgb(21, 214, 21);
}
nav{
    background-color: green;
    padding: 20px;
    margin:0;
    margin-bottom: 60px;
    
}

nav h3 a{
    text-decoration: none;
    font-size: larger;
    color:white;
    font-weight: bolder;
    
    
}
h1{
    text-align: center;
    margin: 30px;
    color:darkgreen
}
#gname{
    color: rgb(4, 46, 4);
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card img{
    margin-bottom: 30px;
    border-radius: 4px;
}
.card ul li{
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}
.card-body h6{
    text-align: center;
    color:white;
    font-size: larger;
    padding: 10px;
    margin-bottom: 10px;
}
.card ul h3{
    color:white;
    margin-top:20px;
    margin-bottom:10px;
    text-align:center;
} 
.card ul h3 a{
    color:white;
     margin-bottom:10px;
    
}


@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
        width:auto;
    }
    #items{
         grid-template-columns: 1fr;
    }
    .card{
        width:50%;
        
    }
    .cool{
        width:50%;
    }
    #inputName{
        width:70%;
    }
    #button{
        width:30%;
    }
    #form{
        width:75%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    #wlcm{
        font-size: large
    }
    nav{
        width: 100%;
    }
    nav h3 a{
        font-size: larger;
    }
    #link{
        font-size: large;
        
    }
}
.footer{
    text-align: center;
    background-color: green;
    color:white;
    padding: 20px;
    margin-top:400px;
    font-weight: bolder;
    font-size: larger; 
}
#savrecipe{
    margin-top:20px;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:large;
}
